/*general styles*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 16px;
}

body {
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: auto;
}

/*header*/
.nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.nav h3 {
  color: #757575;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.nav a {
  color: #aaaaaa;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.nav img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list-nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-site img {
  margin-top: 27%;
  padding: 0 5px 0 5px;
}

.bs {
  border-right: 1px solid #aaaaaa;
}

.header-txt {
  background-image: url("/images/bckg_header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0 200px 0;
}

.header-txt h1 {
  color: #ffffff;
  font-family: Amsdam;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.89px;
  padding: 1% 0;
}

.header-txt p {
  color: #ffffff;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.4px;
  padding-top: 7%;
}

.header-txt a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  border: 2px solid #f2f2f2;
}

.mr {
  padding-bottom: 5%;
}

/*about us*/
.about-us {
  background-color: #e3e3e3;
  padding: 50px 0;
  margin: auto;
}

.abt-cnt {
  width: 80%;
  margin: auto;
}

.abt-cnt img {
  max-width: 100%;
}

.abt-txt {
  background-color: #ffffff;
  text-align: center;
  margin-top: -3px;
  padding: 29px 70px 40px 70px;
}

.abt-txt p {
  padding-top: 30px;
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.4px;
}

.line-abt {
  padding-top: 5px;
}

.adv-btn {
  width: 37%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.adv-btn a {
  width: 48%;
  padding: 10px 20px;
  border: 2px solid #3e3d3d;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  color: #3e3d3d;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1.47px;
  margin-right: 1%;
}

.adv-btn a:hover {
  background-color: #3e3d3d;
  color: #ffffff;
}

.adt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  padding: 40px 0 0 0;
}

.abt-box {
  width: 25%;
  text-align: center;
}

.abt-box p {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.abt-box span {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 400;
  line-height: 83.99px;
}

.abt-box img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 15px;
}

.q {
  border-right: 1px solid #b0b0b0;
}

/*SERVICES*/
.services {
  padding: 100px 0;
  background-image: url("../images/svc_backg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.svc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.svc-txt {
  width: 90%;
  margin: auto;
  text-align: center;
}

.svc-txt h2 {
  color: #ffffff;
  font-family: Amsdam;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.44px;
}

.svc-txt p {
  padding: 50px 0 40px 0;
  color: #cfcfcf;
  font-family: "Crimson Text";
  font-weight: 400;
  letter-spacing: 1.4px;
}

.svc-box {
  width: 24%;
  text-align: center;
}

.svc-box fieldset {
  padding: 30px 15px 30px 15px;
  height: 370px;
}

.svc-box img {
  padding: 0 15px 0 15px;
}

.svc-box h3 {
  color: #d8d8d8;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.svc-box p {
  color: #d8d8d8;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 20.31px;
  letter-spacing: 1.4px;
  padding-top: 20px;
}

/*timeline*/
.time-line-box {
  padding: 100px 0;
  background-color: #ededed;
}

.timeline {
  position: relative;
  margin: 0 auto 0 auto;
  width: 80%;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #3e3d3d;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding: 20px;
  border: 2px solid #3e3d3d;
}

.content h3 {
  color: #3e3d3d;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
  padding-bottom: 10px;
}

.content span {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.content p {
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 20.31px;
  letter-spacing: 1.4px;
  padding-top: 10px;
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  left: -7px;
  width: 15px;
  height: 15px;
  background: #3e3d3d;
  border-radius: 50%;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  right: -8.5px;
  width: 15px;
  height: 15px;
  background: #3e3d3d;
  border-radius: 50%;
}

.cirkl {
  border: 2px solid #3e3d3d;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: auto;
  font-size: 15px;
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-icon {
  padding: 10px;
  background: #3e3d3d;
  width: 29px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.time-icon img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*our-team*/
.our-team {
  padding: 50px;
  background-image: url("../images/portfolio_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.our-team h2 {
  color: #3e3d3d;
  font-family: Amsdam;
  font-weight: 400;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.44px;
}

.our-team p {
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.4px;
  padding: 46px 0 37px 0;
}

.team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*portfolio*/
.portfolio {
  padding: 100px 0 0 0;
}

.portfolio-txt {
  width: 80%;
  margin: auto;
  text-align: center;
}

.portfolio-txt h2 {
  color: #3e3d3d;
  font-family: Amsdam;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  padding-bottom: 10px;
}

.portfolio-txt p {
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.4px;
  padding: 46px 0 37px 0;
}

.portfolio-txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}

.portfolio-txt ul li a {
  padding: 7px 20px;
  border: solid 2px #3e3d3d;
  color: #3e3d3d;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.24px;
}

.portfolio-txt ul li a:hover {
  color: white;
  background: #3e3d3d;
}

.prtf-pht {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100px 100px 100px 100px 100px 100px;
      grid-template-rows: 100px 100px 100px 100px 100px 100px;
  margin-top: 50px;
}

.prtf-pht img {
  max-width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.box1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.box2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.box3 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.box4 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.box5 {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 7;
}

.box6 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 7;
}

.box7 {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 7;
}

.box8 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 7;
}

/*prices*/
.prices {
  padding: 90px 0;
  background-color: #e3e3e3;
}

.prices-txt {
  text-align: center;
}

.prices-txt h2 {
  padding-bottom: 10px;
  color: #3e3d3d;
  font-family: Amsdam;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.44px;
}

.prices-txt p {
  padding: 46px 0 37px 0;
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.4px;
}

.prices-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prices-box {
  width: 30%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #ffffff;
}

.prices-box p {
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-style: italic;
  line-height: 30px;
}

.prices-box a {
  width: 40%;
  margin: auto;
  color: #3e3d3d;
  font-family: Montserrat;
  font-weight: 400;
  padding: 10px 20px;
  letter-spacing: 1.47px;
  border: 2px solid #3e3d3d;
}

.prices-box a:hover {
  background: #3e3d3d;
  color: #ffffff;
}

.txt {
  color: #3e3d3d;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.pis-img {
  border: 2px solid #3e3d3d;
  width: 50px;
  height: 50px;
  margin: 30px auto 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  z-index: 100;
  background: #ffffff;
}

.pis-img img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pis-line {
  width: 70%;
  height: 2px;
  background: #3e3d3d;
  margin: auto;
  position: relative;
  top: -13%;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 700;
}

.number p {
  color: #3e3d3d;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

.bt {
  padding-bottom: 50px;
}

/*loocing*/
.loocing {
  padding: 35px 0;
  background-color: #2d2d2f;
}

.looc-cont {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.looc-cont a {
  color: #e3e3e3;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1.47px;
  padding: 10px 20px;
  border: 2px solid #e3e3e3;
}

.looc-txt {
  width: 65%;
  padding-top: 2%;
}

.looc-txt h3 {
  color: #d8d8d8;
  font-family: Montserrat;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 1.81px;
}

.looc-txt p {
  color: #888888;
  font-family: "Crimson Text";
  font-style: italic;
  padding-top: 20px;
}

/*blog*/
/*# sourceMappingURL=style.css.map */